
﻿<button class="btn btn-primary" data-toggle="collapse" data-target="#uis_keyboard_ctrlAltUpCollapse">Show Keyboard</button>
<div id="uis_keyboard_ctrlAltUpCollapse" class="collapse">
    <div class="row">
        <img src="@Url.Content("~/Images/uis_keyboard_ctrlAltUp.png")"
             class="img-responsive shadow img-thumbnail center-block"
             style="max-width: 500px; width: 100%; height: auto;"
             alt="uis_keyboard_ctrlAltUp Shortcut"
             data-toggle="modal"
             data-target="#uis_keyboard_ctrlAltUpModal">
    </div>
</div>

<div class="modal fade" id="uis_keyboard_ctrlAltUpModal" tabindex="-1" role="dialog" aria-labelledby="uis_keyboard_ctrlAltUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="@Url.Content("~/Images/uis_keyboard_ctrlAltUp.png")" class="img-fluid" alt="uis_keyboard_ctrlAltUp Shortcut">
            </div>
        </div>
    </div>
</div>