<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accRegi" href="#Ucollapse13">Powervar/UPS</a>
    </h4>
</div>
<div id="Ucollapse13" class="panel-collapse collapse">
    <div class="panel-body">
        <h4>Powervar/UPS/Battery Backup</h4>
        <h4>Powervar Troubleshooting:</h4>
        <p>If the powervar/UPS is beeping, please turn off then unplug the power cable from the wall</p>
        <p>Please follow the steps below if your battery backup is experiencing any of the issues listed.  Please reference the guide on the top of the powervar/UPS.</p>
        <a><img src="@Url.Content("~/Images/PowerVarStatus.PNG")" data-toggle="modal" data-target="#PowerVarStatus" class="center" height="288" width="354"></a>
        <ul>

            <li>Off: if the powervar is off, please ensure that the power cable is plugged into the wall, not itself or a power strip.  After this, press and hold the power button.</li>
            <img src="photos/PowerVarStatus-off.PNG" height="16" width="120">
            <li>On: The powervar is operating normally.</li>
            <img src="@Url.Content("~/Images/PowerVarStatus-on.PNG")" height="16" width="120">
            <li>On, no battery: please remove the front cover and ensure the battery is plugged in.  If it is not, please plug it in.  If it is, the battery needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
            <img src="photos/PowerVarStatus-noBat.PNG" height="16" width="120">
            <li>On, Replace Battery: The battery needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
            <img src="photos/PowerVarStatus-replaceBat.PNG" height="16" width="120">
            <li>On, overload: Please make sure the HP or Brother office printer are not plugged into the powervar.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
            <img src="photos/PowerVarStatus-overload.PNG" height="16" width="120">
            <li>On Battery Power: Please make sure that the powervar is not plugged into itself.  After confirming it is not, please make sure the unit is receiving power.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
            <img src="photos/PowerVarStatus-onBat.PNG" height="16" width="120">
            <li>On battery, battery low: Please make sure that the powervar is not plugged into itself.  After confirming it is not, please make sure the unit is receiving power.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
            <img src="photos/PowerVarStatus-onBatLow.PNG" height="16" width="120">
            <li>Off, Overload: Please make sure the HP or Brother office printer are not plugged into the powervar.  If it is not, the unit needs to be replaced.  Please buy a power strip from your local retailer and order a new powervar from UIS</li>
            <img src="photos/PowerVarStatus-overloadOff.PNG" height="16" width="120">
            <li>Off, Unit fault: The unit needs to be replaced. Please buy a power strip from your local retailer and order a new powervar from UIS.  </li>
            <img src="photos/PowerVarStatus-fault.PNG" height="16" width="120">





        </ul>
        Please email <a href="mailto:uis@wafflehouse.com">uis@wafflehouse.com</a> or call UIS technical support to order another battery backup.

        <hr />
        <h4>Set-up your powervar</h4>
        <p>Please follow the directions provided in the box your powervar came in.  If these instructions are missing, they can be found below:</p>
        <p><u>The unit is shipped with the internal battery disconnected for safety.  Before powering on the powervar, please follow these instructions.</u></p>
        <ol>
            <div class="row">
                <div class="row">
            <li>Connect the AC power cord to the wall receptacle.  If it turns on, please turn it off.</li>

            <li>Remove the front panel using the finger grips on the side of the panel and pivot from the bottom. </li>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#var3">Show Images</button>
            <div id="var3" class="collapse">
                <div class="row">
                    <img src="photos/thumbnail/UPSb.jpg" width="300" height="300" class="full">
                </div>
            </div>
    </div>
    <div class="row">
        <li>Locate the battery jumper  connectors. </li>
        <button data-toggle="collapse" class="btn btn-primary" data-target="#var4">Show Images</button>
        <div id="var4" class="collapse">
            <div class="row">
                <img src="photos/thumbnail/UPSc.jpg" width="300" height="300" class="full">
            </div>
        </div>
    </div>
    <div class="row">
        <li>Connect the battery jumpers </li>
        <button data-toggle="collapse" class="btn btn-primary" data-target="#var5">Show Images</button>
        <div id="var5" class="collapse">
            <div class="row">
                <img src="photos/thumbnail/UPSd.jpg" width="300" height="300" class="full">
            </div>
        </div>
    </div>

    <div class="row">
        <li>Place the battery jumpers on the posts so they can be tucked behind the front cover when it is replaced.</li>
        <button data-toggle="collapse" class="btn btn-primary" data-target="#var7">Show Images</button>
        <div id="var7" class="collapse">
            <div class="row">
                <img src="photos/thumbnail/UPSe.jpg" width="300" height="300" class="full">
            </div>
        </div>
    </div>
    <div class="row">
        <li>Place the front panel back on the powervar, pivoting from the bottom the same way as the from panel was removed </li>
        <button data-toggle="collapse" class="btn btn-primary" data-target="#var6">Show Images</button>
        <div id="var6" class="collapse">
            <div class="row">
                <img src="photos/thumbnail/UPSf.jpg" width="300" height="300" class="full">
            </div>
        </div>
    </div>
    <div class="row">
        <li>If there is a warning label on the unit, remove it now.  Press and hold the power button for 3 seconds to turn it on.</li>
        <button data-toggle="collapse" class="btn btn-primary" data-target="#var8">Show Images</button>
        <div id="var8" class="collapse">
            <div class="row">
                <img src="photos/thumbnail/UPSag.jpg" width="250" height="300" class="full">
            </div>
        </div>
    </div>
</div>