@model string

@{
var collapseId = $"TC_MirrorCollapse_{Model}";
var modalId = $"TC_MirrorModal_{Model}";
}

<button class="btn btn-primary" data-toggle="collapse" data-target="#@collapseId">Show image</button>

<div id="@collapseId" class="collapse">
    <div class="row">
        <img src="@Url.Content("~/Images/TC_Mirror_Extend.PNG")"
             class="img-responsive shadow img-thumbnail center-block"
             style="max-width: 500px; width: 100%; height: auto;"
             alt="TC_Mirror_Extend"
             data-toggle="modal"
             data-target="#@modalId">
    </div>
</div>

<div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="@Url.Content("~/Images/TC_Mirror_Extend.PNG")" class="img-fluid" alt="TC_Mirror_Extend">
            </div>
        </div>
    </div>
</div>