@{
    ViewData["Title"] = "Associate info and Onboarding Associates";
}
<h1>@ViewData["Title"]</h1>


<div class="panel-group" id="accOnboard">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#OncollapseA">Employee Pins</a>
            </h4>
        </div>
        <div id="OncollapseA" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>For associates that have never clocked in at your unit:</h4>
                <ul>
                    <b>FOR UNITS WITH TOUCH SCREEN TIME CLOCKS ONLY:</b>
                    <li>Associate temporary pins will always start with 0 and the last four of the SSN# or 0, and the last of the employee  ID.</li>
                    <li>When using the temporary pin, the associate must press "Clock In" and not "Change Pin" when it's their first time clocking in at a unit. The temporary pin will be either 0 and the last four of the SSN# or 0 and the last of the employee  ID. </li>
                    <li>The associate must try both temporary pins to ensure the change pin prompt will show.
                    <li>The new pin cannot start with the number zero.</li>
                </ul>
                <br>
                <ul>
                    <b>FOR UNITS WITH THE OLD-STYLE METAL TIMECLOCKS ONLY:</b>
                    <li>The associate must press "Clock In" and not "Change Pin" when it's their first time clocking in at a unit. The temporary pin will be either 0 and the last four of the SSN# or 0 and the last of the employee  ID. </li>
                    <li>The associate must try both temporary pins to ensure the "change pin before clocking in." message appears.</li>
                    <li>Click on "Change Pin" and enter the temporary that made the change pin message appear. The time clock will then show "enter new pin."</li>
                    <ul><li>The new pin cannot start with the number zero.</li></ul>
                </ul>
                <hr>
                <ul>
                    <b>Associate wants to change their pin.</b>
                    <li>The associate will need to know their previous pin to change their pin</li>
                    <li>The associate must select "Change Pin" to enter their last pin, and a message will appear stating to "enter new pin." </li>
                </ul>
                <hr>
                <b>Resetting associate pin</b>
                <ul>
                    <b>FOR UNITS WITH TOUCH SCREEN TIME CLOCKS ONLY</b>
                    <li>Select "Manager" on the time clock monitor</li>
                    <li>Select the associate name that needs their pin reset and select "Reset PIN." </li>
                    <li>The new temporary pin will appear, and the associate can press "Clock In" and enter the temporary pin to create a pin of their choice.</li>
                </ul>
                <br>
                <ul>
                    <b>FOR UNITS WITH THE OLD-STYLE METAL TIMECLOCKS ONLY:</b>
                    <li>Select "Reset PIN" on the time clock</li>
                    <li>Management will need to enter their pin, and the time clock will appear to enter the associate SSN#, but they will need to enter the associate employee ID # instead.</li>
                    <li>The time clock will give a prompt stating the associate pin has been reset, but the associate pin will not show on the timeclock. </li>
                    <li>The temporary pin will be either 0 and the last four of the SSN# or 0 and the last of the employee  ID. </li>
                    <li>The associate must try both temporary pins to ensure the "change pin before clocking in." message appears.</li>
                    <li>Click on "Change Pin" and enter the temporary that made the change pin message appear. The time clock will then show "enter new pin."</li>
                    <ul><li>The new pin cannot start with the number zero.</li></ul>
                </ul>
                <hr />
                <b>Associate forgot pin </b>
                <ul><li>Please call <u><b>770-729-5933</b></u> and select <b>option 1</b>.</li></ul>
            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#OncollapseB">My Waffle House Employee Portal</a>
            </h4>
        </div>
        <div id="OncollapseB" class="panel-collapse collapse">
            <div class="panel-body">
                <h3>My Waffle House Employee Portal</h3>
                <h4>Invalid User Error Message</h4>
                <ul>
                    <li>This message displays when an associate selects 'Forgot Password' on the login screen and types in their email address on the email field on the 'Forgot Password' page. </li>
                    <li>When getting the 'Invalid User' error, it means:</li>
                    <ol>
                        <li>The associate doesn't have a my.wafflehouse.com account.</li>
                        <li>The associate created the my.wafflehouse.com account with a different email address.</li>
                        <li>The associate has not verified their email adress that they used to create a my Waffle House account</li>
                    </ol>
                </ul>
                <hr />
                <h4>Associate doesn't have access to the email address they used to create the my.wafflehouse.com account</h4>
                <ul>
                    <li>The associate must create a new account with the new email address. All of the associate's information will transfer to the new account. </li>
                    <li>The account with the old email address will be deactivated.</li>
                </ul>
                <hr />
                <h4>Direct Deposit</h4>
                <p>There are two types of direct deposit: Money Network and Direct Deposit</p>
                <ul>
                    <li>Direct Deposit is only for non-Money Network cards.</li>
                    <li>Money Network is only for Money Network cards.</li>
                    <li>Direct deposit information cannot be set up on Tuesdays until after 6 PM Eastern Standard Time.</li>
                    <li>Direct deposit information has to go through a verification process; when the initial setup is completed, the verification process takes 1-3 business days. </li>
                    <li>Associates will be paid a paper check until direct deposit banking information is set up. </li>
                </ul>

            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#Oncollapse1">Cannot Find Associate's Application</a>
            </h4>
        </div>
        <div id="Oncollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    Cannot Find the Applicant's Application in your Onboarding Hire Search:<h4>
                        <ol>
                            <li>Make sure the applicant has applied through whcareers.com and selected "Apply Hourly." and not on Indeed.com</li>
                            <li>
                                Confirm with the applicant or the HRC that the application was submitted to the correct unit, whether part 1 or 2 of the application.
                                To confirm that the applicant applied to your unit, please search the Fast Applications portal in Ops Express in the  Employee Application Admin tab.
                            </li>
                            <li>Make sure you have marked the application as 'Offer Made' so that the applicant has received part 2 and completed the application process. </li>
                            <li>Make sure to check Onboarding Fast Applications (New) not (Old)</li>

                        </ol>
            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#Oncollapse2">Onboarding Associates</a>
            </h4>
        </div>
        <div id="Oncollapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    Onboarding an Employee Who Has Not Worked in Over Three Weeks<h4>
                        <p><b>THIS <u>DOES NOT</u> APPLY TO ASSOCIATES WHO WERE ON APPROVED LEAVE</p></b>
                        <ol>
                            <li> Go to Roster Management in Ops Express and select Borrowed Associate.</li>
                            <li>Type in the associates' first and last name and the last four digits of their SSN#.<br> You can also type in the associates' employee ID</li>
                            <li>Select "Search," the associate's name will show, and you'll press "Select" a message will pop up letting you know whether or not the associate needs to put in a new application, or the associate can be onboarded as a rehire.</li>
                            <li>If the associate cannot be onboarded as a rehire or showing as "Inactive, the associate will need to go to whcareers.com and select "Apply Hourly." to submit an application.</li>
                            <li>If you have any questions about a rehire associate and their stock information, please call the front desk at <u><b>770-729-5700</u></b> and ask for a transfer to the <b>stock department</b>.</li>

                        </ol>
                        <hr />
                        <h4>Eligibility for Rehire</h4>
                        <p>An applicant is only eligible for "Onboard as Re-hire" if the person has submitted an application that has not expired. Applications expire after six months after the last application was submitted</p>
                        <ul>
                            <li>Example: Applicant applied in May, got hired, and then left the company in July. The applicant wants to come back to the company in October. This applicant doesn't have to resubmit an application because it hasn't been past six months since the last application was submitted. </li>
                        </ul>
                        <hr>
                        <h4>EFR</h4>
                        <p>Former associates or management wanting to know if a former associate is on EFR should call the front desk at <B><U>770-729-5933</B></u> and ask for transfer to the recruiting department.

            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#Oncollapse3">Maternity Leave and LOA</a>
            </h4>
        </div>
        <div id="Oncollapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>The Employee was on Approved Maternity Leave, LOA, or FMLA.</h4>
                <ol>
                    <li>Please Call <B><U>770-729-5933 </B></U> and ask for a transfer to Group Health. Group Health can remove the leave status of the employees' employee number.</li>
                </ol>

                <ol start="2">
                    <b><u>FOR HOURLY ASSOCIATES:</u></b>
                    <li>Once Group Health removes the "leave status." They will email UIS technical support and Data Control to advise each group that the associate can be marked as an active associate and is approved to return to work. </li>
                    <li>UIS technical support will add the employee to the Ops Express roster and the employee to the units master file.</li>
                </ol>

                <ol start="2">
                    <b><U>FOR MANAGEMENT: </U></b>
                    <li>Group Health and Biweekly Payroll need to remove the leave status from your employee ID for you to access any management tools via Ops Express. </li>
                    <ul>
                        <li>Please email <a href="mailto:uis@wafflehouse.com">uis@wafflehouse.com</a> or call <B><U>770-729-5933</B></U> and select <b>option 1</b> to be placed back into your units if you are no longer in the UIS employee master file or your pin doesn't work in the UIS system. </li>
                    </ul>
                </ol>
            </div>
        </div>



        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#Oncollapse5">Adding Associates to the Ops Express Roster</a>
            </h4>
        </div>
        <div id="Oncollapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Adding Associates to the Ops Express Roster</h4>
                For associates showing in the “Active Associates” roster in UIS but not showing on the roster in Ops Express:
                <ul>
                    <li>Existing, new, borrowed, and rehire associates can be added to the Ops Express by adding the associate under Borrowed associates.</li>
                    <li>The associates will not show up in Ops Express as borrowed.</li>
                </ul>
                <span>en the employee is already on the roster in Ops Express but not in showing in the Master File in UIS, please call tech support at 770-729-5933 and select option 1 to the employee added to the UIS roster.</span>
            </div>
        </div>

        <!--<div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#Oncollapse7">Associates Transferring To A Different Unit</a>
            </h4>
        </div>-->
        <div id="Oncollapse7" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Associates Transferring To A Different Unit</h4>
                <ul>
                    <li>Transferred associates can be added into the system by adding the associate under Borrowed associates.</li>
                    <li>Suppose the associate is showing as "Inactive" and cannot be added to your unit roster. The associate must submit a new application on whcareers.com under "Apply Hourly."</li>
                </ul>
            </div>
        </div>


        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#Oncollapse6">Setting Up Payment Information</a>
            </h4>
        </div>
        <div id="Oncollapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Setting up Payment Information - Onboarding & My Waffle House</h4>
                <ul>
                    <li>UIS technical doesn't assist with banking information set up in the onboarding process or on my.wafflehouse.com. </li>
                    <li>The payment information section of the onboarding process can be skipped by filling out a "Stand Alone I9." The "Stand alone I9" can be found on the onboarding screen. It's the last option. </li>
                    <li>OSS/Area Admin assists with banking information set up if an associate is having trouble entering the information in on my.wafflehouse.com. A manager and associate need to be present for OSS to assist with banking information setup. </li>
                    <ul>
            </div>
        </div>


        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#OncollapseC">Grill Operators Raising Hand</a>
            </h4>
        </div>
        <div id="OncollapseC" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Grill Operators raising hand</h4>
                <ul>
                    <li>The associate should go to career advancement and select the <b>Master Grill Operator</b> button if they are a grill operator or select  <b>Rockstar Grill Operator</b> if they are a master grill operator</li>
                    <li>Only Master Grill Operators can select Rockstar Grill Operator.  Regular associates cannot.</li>
                    <li>Once the associate has selected either option. they should hit <b>apply</b>.  A Certify notification will be sent to the division manager's ops express elvis admin list of grill ops waiting to be promoted. </li>
                    <li> The division manager must certify a grill op's promotion to Master or Rockstar.</li>
                </ul>

            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accOnboard" href="#OncollapseChattr">Chattr</a>
            </h4>
        </div>
        <div id="OncollapseChattr" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Chattr</h4>
                <span>For any assistance with Chattr please email Recruiting@wafflehouse.com. or call 770-729-5700 and ask for transfer to the Recruiting Department.</span>

            </div>
        </div>

    </div>
</div>
