@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>
    This page exists to help you fix issues with your UIS, Register, and Time Clock. The webpage also has information to help you with onboarding associates and get your pins. There is also supplemental information to help you with setup and troubleshooting your systems.
</p>

<h2>How to Troubleshoot with this page</h2>

<p>Your issue probably fits into one of the category tabs at the top of the page: check said tab first.</p>
<img src="@Url.Content("~/Images/navbar.png")" style="max-width:1000px; width:100%;" class="full">

<p>
    Once in the tab related to your issue, click on the most related listed issue.
</p>
<img src="@Url.Content("~/Images/listedissue.png")" style="max-width:1000px; width:100%;" class="full">
<br>
<p>
    Some of these pages that contain several large images will have a button that reads "show images".  These buttons will reveal larger images that demonstrate what the text they appear next to visually.
    This one does nothing and is provided as a sample.  <button class="btn btn-primary">Show Images</button>
</p>
<p>
    If your issue does not appear in the first tab you check, it is recommended thatY you check the other tabs first.  The time clock and UIS may share some issues and all devices can be found in the "other" tab.
    Not all categorization issues will be as simple, so it is highly recommended you check every tab.
</p>