
@{
    ViewData["Title"] = "Management Info";
}

<h1>Management Info</h1>

<div class="panel-group" id="accManPin">
    <div class="panel panel-default">
        <!--<div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse5">Employee Pins</a>
            </h4>
        </div>-->
        <div id="PNcollapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>For associates that have never clocked in at your unit:</h4>
                <ul>
                    <b>FOR UNITS WITH TOUCH SCREEN TIME CLOCKS ONLY:</b>
                    <li>Associate temporary pins will always start with 0 and the last four of the SSN# or 0, and the last of the employee  ID.</li>
                    <li>When using the temporary pin, the associate must press "Clock In" and not "Change Pin" when it's their first time clocking in at a unit. The temporary pin will be either 0 and the last four of the SSN# or 0 and the last of the employee  ID. </li>
                    <li>The associate must try both temporary pins to ensure the change pin prompt will show.
                    <li>The new pin cannot start with the number zero.</li>
                </ul>
                <br>
                <ul>
                    <b>FOR UNITS WITH THE OLD-STYLE METAL TIME CLOCKS ONLY:</b>
                    <li>The associate must press "Clock In" and not "Change Pin" when it's their first time clocking in at a unit. The temporary pin will be either 0 and the last four of the SSN# or 0 and the last of the employee  ID. </li>
                    <li>The associate must try both temporary pins to ensure the "change pin before clocking in." message appears.</li>
                    <li>Click on "Change Pin" and enter the temporary that made the change pin message appear. The time clock will then show "enter new pin."</li>
                    <ul><li>The new pin cannot start with the number zero.</li></ul>
                </ul>
                <hr>
                <ul>
                    <b>Associate wants to change their pin.</b>
                    <li>The associate will need to know their previous pin to change their pin</li>
                    <li>The associate must select "Change Pin" to enter their last pin, and a message will appear stating to "enter new pin." </li>
                </ul>
                <hr>
                <b>Resetting associate pin</b>
                <ul>
                    <b>FOR UNITS WITH TOUCH SCREEN TIME CLOCKS ONLY</b>
                    <li>Select "Manager" on the time clock monitor</li>
                    <li>Select the associate name that needs their pin reset and select "Reset PIN." </li>
                    <li>The new temporary pin will appear, and the associate can press "Clock In" and enter the temporary pin to create a pin of their choice.</li>
                </ul>
                <br>
                <ul>
                    <b>FOR UNITS WITH THE OLD-STYLE METAL TIME CLOCKS ONLY:</b>
                    <li>Select "Reset PIN" on the time clock</li>
                    <li>Management will need to enter their pin, and the time clock will appear to enter the associate SSN#, but they will need to enter the associate employee ID # instead.</li>
                    <li>The time clock will give a prompt stating the associate pin has been reset, but the associate pin will not show on the time clock. </li>
                    <li>The temporary pin will be either 0 and the last four of the SSN# or 0 and the last of the employee  ID. </li>
                    <li>The associate must try both temporary pins to ensure the "change pin before clocking in." message appears.</li>
                    <li>Click on "Change Pin" and enter the temporary that made the change pin message appear. The time clock will then show "enter new pin."</li>
                    <ul><li>The new pin cannot start with the number zero.</li></ul>
                </ul>
                <hr />
                <b>Associate forgot pin </b>
                <ul><li>Please call <u><b>770-729-5933</b></u> and select <b>option 1</b>.</li></ul>
            </div>
        </div>


        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse4">Newly Promoted Division, Region, or Area Managers</a>
            </h4>
        </div>
        <div id="PNcollapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>DVN, RGN, ARA, EVP, SVP, and RD to Newly Promoted Division Managers Pin Creation </h4>
                <p>
                    Email
                    <a href="mailto:uis@wafflehouse.com?subject=New%20Upper%20Manager&body=PLEASE%20CHANGE%20SUBJECT%20AND%20BODY%20AS%20NEEDED%0D%0DFirst%20and%20Last%20Name%0D%20Assigned%20Units%0D%20Phone%20Number%20%28New%20Divisions%20and%20HRCs%20Only%29%0DEmployee%20ID%20or%20Last%20Four%20of%20SSN%0DFive%2DDigit%20Pin%20%28New%20Divisions%20and%20HRCs%20Only%29%0D">uis@wafflehouse.com </a>
                    with the following:
                </p>
                <ul>
                    <li>First and last name</li>
                    <li>Assigned Units or New units you have been assigned to </li>
                    <li>Phone number </li>
                    <li>Employee ID or the last four digits of your SSN#</li>
                    <li>Five-digit pin# </li>
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse1a">Change forms</a>
            </h4>
        </div>
        <div id="PNcollapse1a" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Change forms</h4>
                <p>
                    A change form being submitted is different from it being processed.
                    When change forms are submitted, the Biweekly Payroll department processes them in 3-5 business days.
                    To ensure that a change form has been processed, please email payroll@wafflehouse.com.
                </p>
                </ul>
            </div>
        </div>



        <!--<div class="panel-heading">
            <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse1">Newly Promoted District Managers</a>
            </h4>
        </div>
        <div id="PNcollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                  <h4>Newly Promoted District Managers</h4>
                 <p>For newly promoted district managers showing as a unit manager in all of their assigned units:</p>
                 <ul>
                    <li>Please wait at least 3-4 days after your change form has been processed and for the ESADD to be updated for your job code to change. Once both have been processed you will see our units in Ops Express and you will see yourself as a district on the unit roster.</li>
                    <li>Once you see yourself in Ops Express as the district manager email uis@wafflehouse.com with your first name, last name, and the three units you need to be in. </li>
                    <li>To set-up your pin in UIS please input the following temporary pins: 00000, 00001, 00002 into the UIS system until your name pops up to notify you to change your pin. </li>
                </ul>
            </div>
        </div>-->

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse2">Unit and District Manager</a>
            </h4>
        </div>
        <div id="PNcollapse2" class="panel-collapse collapse">
            <div class="panel-body">



                <h4>For newly promoted unit and district managers not showing in Ops Express under the correct job code:</h4>
                <ul>
                    <li>he division manager and up must add the district manager and unit manager to their assigned unit's Ops Express roster.</li>
                    <li>You can also call 770-729-5933 and ask for a transfer to the Biweekly Payroll department to get an update on the processing of your change form.</li>
                </ul>
                <b>**Follow the steps below once your change form has been processed.**</b>
                <hr />
                <!--<ul>
                    <b>FOR DISTRICT MANAGERS: </b>
                    <li>If you're showing as an MIT or another job code in your unit after being added to the UIS system, please call 770-729-5933 and select option 3 to resolve the issue.  </li>
                </ul>
                <hr />-->
                <!--
                %0D
                -->
                <!--<ul>
                    <b>FOR UNIT MANAGERS: </b>
                    <li>Unit managers can call <u><B>770-729-5933</u></b> and select <b>option 3</b> to be added to their unit UIS system once they see themselves in Ops Express listed under the unit manager job code.</li>
                </ul>
                <hr />-->

                <h4>For newly promoted unit and district managers not showing in Ops Express or UIS:</h4>
                <ul>
                    <li>Upper-management must must add the district manager and unit manager to their assigned unit's Ops Express employee roster. </li>
                    <li>If the upper-management doesn't have access to any of the assigned units please send an email you uis@wafflehouse with the following:</li>
                    <ul>
                        <li>First and last name</li>
                        <li>Employee ID or last four of SSN#</li>
                        <li>assigned unit numbers of the UM and DST</li>
                    </ul>
                </ul>
                <br />
                Not seeing assigned units in Ops: Call 770-729-5933 and ask to be transferred to the Payroll Department for an update to see if the change form has been submitted and
                processed.
                <hr />

                <h4>SETTING UP A PIN IN UIS:</h4>
                <ul>
                    <li>To set up your pin in UIS, please input the following temporary pins: 00000, 00001, 00002, 00003, 00004, and 00005 into the UIS system until your name pops up to notify you to change your pin. </li>
                    <li>You need to be in the UIS master file for the temporary pin to work.</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse12">Relief and MIT</a>
            </h4>
        </div>
        <div id="PNcollapse12" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>SETTING UP A PIN IN UIS:</h4>
                <ul>
                    <li>Temporary pins are 0+last four digits of EMPID, 0+last four digits of SSN#, 00000, or 00001. Try each one to see which will prompt you to create a UIS pin.</li>

                    <li>If none of the temporary pins are available, that means you already have a pin set up for UIS, and you'll need to use that one to log in.</li>
                </ul>

            </div>
        </div>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapse1">Change Pins</a>
            </h4>
        </div>
        <div id="PNcollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Needing to change your pin or phone number</h4>
                <!--<ul><B>For Divisions, Upper Management, HRCs, and RDs:</b><br>
                 <p>Email <a href="mailto:uis@wafflehouse.com?subject=Change%20Phone%20or%20Pin&body=PLEASE%20CHANGE%20SUBJECT%20AND%20BODY%20AS%20NEEDED%0D%0DFirst%20and%20Last%20Name%0DChange%20Phone%20Number%20or%20Pin%0DCurrent%20Pin%20Or%20minimum%20two%20units%20if%20pin%20is%20not%20known">uis@wafflehouse.com</a> with the following:</p>
                    <li>First and last name</li>
                    <li>New pin and/or new phone number</li>
                    <li>Current pin. (If you don't know your current pin, provide at least two of your assigned units)</li>
                </ul>-->
                Unit and District:
                <ul>
                    <li>Log into UIS </li>
                    <li>Go to the 'People' tab and press enter</li>
                    <li>select "Change PIN"</li>
                </ul>
                <br />

                <h4>DVN and Up</h4>
                Email uis@wafflehouse.com with the following:
                <ul>
                    <li>First and last name</li>
                    <li>Assigned Units</li>
                    <li>Employee ID or the last four digits of your SSN#</li>
                    <li>New Five-digit pin#</li>

                </ul>
            </div>
        </div>
        <!--<div class="panel-heading">
            <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapseMIT1">MIT and Relief PINs</a>
            </h4>
        </div>
        <div id="PNcollapseMIT1" class="panel-collapse collapse">
            <div class="panel-body">
                  <h4>MIT and Relief PINs</h4>
                 <ul><B>For Divisions, Upper Management, HRCs, and RDs:</b><br>
                    <li>Pins for Relief and MITs are 0+last four of SSN# or 0+ last four of EMPID#</li>
                    <li>Occasionally, the temporary pin will be 00000, 00001, 00002, 00003, 00004, and or 00005. If 0+last four of SSN# or 0+ last four of EMPID# don’t work, please try one of the temporary pins above. Or contact UIS tech support at 770-729-5933.</li>

                </ul>
            </div>
        </div>-->


        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapseOps1">Ops Express - Registering Phone Number</a>
            </h4>
        </div>
        <div id="PNcollapseOps1" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Ops Express - Registering Phone Number</h4>
                <span>If Ops Express is asking you to register your phone number, but you’re not getting a code sent to your phone, please perform the following:</span>
                <br />
                <img src="@Url.Content("~/Images/OPSPic1.png")"
                     data-toggle="modal"
                     data-target="#modalOPSPic1"
                     class="img-responsive shadow img-thumbnail block"
                     style="max-width: 100%; height: auto;" />


                <ol>
                    <br />
                    <li>Text “YES” to 923353. *Send YES without the quotation marks*</li>
                    <li>You should receive a text message:</li>
                    <ul><li>Indicating your phone number is now registered with Ops Express.</li></ul>
                    <a>
                        <img src="@Url.Content("~/Images/OPSPic2.png")"
                             data-toggle="modal"
                             data-target="#modalOPSPic2"
                             class="img-responsive shadow img-thumbnail block"
                             style="max-width: 100%; height: auto;" />

                    
                    <br />
                    <li>You will then go back into Ops Express, enter your phone number in on “Step 1) Phone Number:” and press on “Submit.”</li>
                    <li>You will then receive another text message with your verification code. </li>
                </ol>
                <span>If you still need not receive a verification code after following the steps above. Please call UIS tech at 770-729-5933. </span>
            </div>
            <div class="modal fade" id="modalOPSPic1" tabindex="-1" role="dialog" aria-labelledby="modalLabelOPSPic1" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="@Url.Content("~/Images/OPSPic1.png")" class="img-fluid" alt="OPSPic1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accManPin" href="#PNcollapseOps13">Waffle House Outlook Email</a>
            </h4>
        </div>
        <div id="PNcollapseOps13" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Newly promoted DSTs get a Waffle House email address</h4>
                <span>Email sysadmin@wafflehouse.com with the following:</span>
                <ul>
                    <li>Personal email address</li>
                    <li>First and last name</li>
                    <li>Phone number</li>
                </ul>
            </div>
        </div>
    </div>
</div>