<h4>Search</h4>
<hr />
<div class="row">
    <div class="col-md-12 d-flex">
        <form asp-action="Search" class="search-box">
            <input type="text" name="SearchPhrase" class="search-txt" placeholder="Type to search..." />
            <button type="submit" class="search-btn">
                <i class="fas fa-search"></i> <!-- Font Awesome icon, optional -->
            </button>
        </form>
    </div>
</div>
