<div class="container-fluid "> 
    <div class="row">
        <div class="col-12">
            <form asp-action="Search" class="search-box">
                <input type="text" name="SearchPhrase" class="search-txt" placeholder="Type to search..." />
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
