
@{
    ViewData["Title"] = "UnitShutDown";
}

<h1>Unit Shut Down</h1>

<h3>**ONCE EVERYTHING BELOW IS DONE. PLEASE CONTACT UIS TECH SUPPORT TO PROCESS PAYROLL AND SHUT DOWN THE UIS SYSTEM. IF YOU DO NOT CONTACT UIS TO SHUT DOWN THE UIS SYSTEM, THE UNITS FORM 4 DATES WILL BE INCORRECT ONCE THE UNIT REOPENS**</h3>
<h4>Closing Unit:</h4>
<b>Selling food to another unit: <br /> **The selling food bullet points are only for units that will be closed for more than (1) week.**</b></br>
<ul>
    <li>Enter Cash Sale to another unit.</li>
    <li>Enter NEGATIVE bank correction for the amount of Cash Sale using yesterday’s date.</li>
    <li>Deposit Change Fund</li>
    <li>If short-term closing OPS can hold change fund WITH ARA MGR approval</li>
    <li>Deposit Cash Reserve </li>
    <li>Print closing F4 for DVN MGR</li>
</ul>
<br /></hr>
<h4>FORM 4:</h4>
<ul><li>Close the form 4 just like you would any other day. </li></ul>
<br />
<hr />
<h4>Payroll:</h4>
<ul><li>Review your Daily Review and Close Payroll. </li></ul>
<br />
<hr />
<h4>
    Receiving Unit:</hr>
    <b>The unit receiving food from the unit shutting down. </b>
    <ul>
        <li>Enter a Cash Purchase</li>
        <li>Enter a POSITIVE bank correction for the amount of Cash Purchase using yesterday’s date.</li>
        <li>Print F4 for DVN MGR DVN MGR</li>
    </ul>
    <b>Send the following to OSS:</b>
    <ul>
        <li>F4 showing Cash Sale at the closing unit.</li>
        <li>F4 showing Cash Purchase at receiving unit.</li>
        <li>Validated deposit slip for closing unit Final F4</li>
        <li>Validated deposit slip for closing unit Change Fund</li>
        <li>Validated deposit slip for closing unit Cash Reserve– deposit should match ending balance on last F4.</li>
    </ul>
    <br />
    <!--<p>When Closing a unit for a remodel or an issue with the unit, you must call UIS tech support.  You can also email UIS tech support at <a href="mailto:uis@wafflehouse.com"> uis@wafflehouse.com </a> with your contact information so we may call you back</p> <br/>
    <p>You will need to be present at the unit in order to close the unit down.  This is because we have to gather information from you about payroll, the duration of time the unit will be closed, changing the phone recording, etc.</p>-->
</div>
