
@{
    ViewData["Title"] = "NewUnitOpenings";
}

<h1>New Unit Openings</h1>

<div class="panel-group" id="accNewRemodel">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accNewRemodel" href="#NRCcollapse1">New Unit Equipment Order Form</a>
            </h4>
        </div>
        <div id="NRCcollapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>New Unit Order Form</h4>
                <p>
                    Please Email
                    <a href="mailto:preciouswest@wafflehouse.com?subject=New%20Unit%20Order&body=Open%20Date%3A%0D%20%0DChange%20Fund%3A%20%0D%20%0DUnit%20to%20ship%20equipment%20to%20%28not%20the%20new%20unit%29%3A%20%0D%20%0DNormal%20USF%20order%20day%20and%20delivery%20day%3A%20%0D%20%0DProduce%20Vendor%3A%20%0D%20%0DProduce%20order%20day%20and%20delivery%20day%3A%20%0D%20%0DHow%20many%20register%20set-ups%20are%20needed%3A%20%0D%20%0DManagement%20names%20and%20phone%20%23%3A%20%0D%20%0DArea%2FRegion%3A%20%0D%20%0DDivision%3A%20%0D%20%0DDistrict%3A%20%0D%20%0DUnit%3A%20%0D%20%0D">
                        preciouswest@wafflehouse.com
                    </a> with the following information.  Please include "New Unit Order" in the subject.
                </p><br /><br />
                <p>
                    Unit #:
                    <br /><br />
                    Open Date:
                    <br /><br />
                    Change Fund:
                    <br /><br />
                    Unit to ship equipment to (not the new unit):
                    <br /><br />
                    USF order day:
                    <br /><br />
                    USF delivery day:
                    <br /><br />
                    Produce Vendor:
                    <br /><br />
                    Produce order day
                    <br /><br />
                    Produce delivery day:
                    <br /><br />
                    How many register set-ups are needed:
                    <br /><br />
                    Management names, employee ID, phone number:
                    <br /><br />
                    Area/Region
                    <br /><br />
                    Division:
                    <br /><br />
                    District:
                    <br /><br />
                    Unit:
                </p>
            </div>
        </div>
    </div>
</div>


